<% include ../partials/header %>

<div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To LibFri!</h1>
             <p>View shared books from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/books/new">Add New Books</a>
             </p>
         </div>
     </header>

     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% books.forEach(function(book){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= book.bImage %>">
                   <div class="caption">
                       <h4><%= book.name  %> ( <%=book.bAuthor %> )</h4>
                   </div>

                   <p>
                       <a href="/books/<%= book._id %>" class="btn btn-primary">More Info</a>
                   </p>

                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
